.singleProdC {
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#404852ce;
}
.singleProd {
    
}
.Image {
    display: flex;
    justify-content: center;
}
.Text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px;
}

.InputField input[type="text"] {
    width: 400px;
    height: 35px;
    border-radius: 1px;
}
.InputField input[type="number"] {
    width: 400px;
    height: 35px;
    border-radius: 1px;
}