.h1Jumbo {
  max-width: 1200px;
  margin: 30px auto;
  background: #343a40;
  opacity: 90%;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
.h1Jumbo h1,
.h1Jumbo h2 {
  color: #ffffff;
  font-weight: bold;
}
.h1Jumbo h3, 
.h1Jumbo h4{
  color: #ffffff;
  font-weight: lighter;
}
